.starsNo {
  color: $gray;
  background-image: none;
}  
.stars1 {
  background: url('../../assets/img/star1.png') 50%/cover;
} 
.stars2 {
  background: url('../../assets/img/star2.png') 50%/cover;
}
.stars3 {
  background: url('../../assets/img/star3.png') 50%/cover;
}
.stars4 {
  background: url('../../assets/img/star4.png') 50%/cover;
}
.stars5 {
  background: url('../../assets/img/star5.png') 50%/cover;
}